body{
    margin: 0 auto;
    background-image: url('../img/background.jpg');
    background-size: cover;
    header{ 
        .my-name{
            @media screen and (max-width: $screen_small){
                font-size: 1.4em;
            }
        }
        .fix-margin{
            margin-bottom: 0.1em;;
        }
        background-color: $background_color;
        .fix-margin .fix-padding {
        padding: 0;
            .color-nav{
                background-color: $background_color;
            }
        }
    }
    .tab-background{
        background-color: $background_color;
        .tabs {
            background-color: $background_color;
            button {
                @include tab-style();
            }
            .tabs-item:hover, .tabs-item:focus{
                background-color: $color_focus;
                color: #000;
            }
        }
    }
    .content{
        color: #000;
        .example {
            @include ejemplo();
        }
        .example:hover{
            background-color: rgba(0, 0, 0, 0.4)
        }
        #about-me{
            margin-top: 20%;
            h5{
                font-weight: bold;
            }
            p{
                font-size: 1.3em;
            }
        }
        #tools{
            margin-top: 15%;
            img{
                
                height: 10em;
            }
        }
        #contact-me{
            
        }
    }
    
}
