body{
    margin: 0 auto;
    background-color: #E0F8EC;
    font-family: 'Ubuntu',sans-serif;
    header{ 
        .my-name{
            font-size: 2em;
            img{
                height: 1em;
                margin-right: 35%;
                margin-left: 0.7%;
                padding: 0.1em;
            }
            @media screen and (max-width: $screen_small){
                font-size: 1.4em;
                img {
                    margin-right: 1%;
                }
                
            }
        }
        .color-side{
            background-color: #E0F8EC;
        }
        .fix-margin{
            margin-bottom: 0.1em;;
        }
        .fix-margin .fix-padding {
        padding: 0;
        }
    }
    .content{
        #portfolio{
            margin-top: 11%;
            .works{
                background-color: #00796b;
                color: #fff;
                padding: 2%;
                margin: 2%;
            }
            a {
                margin: 1%;
            }
            img {
                width: 40em;
            }
        }
        #about-me{
            margin-top: 13%;
            clear: both;
            h5{
                font-weight: bold;
            }
            img{
                float: left;
                border-radius: 50%;
                width: 12em;
                margin: 5%;
            }
            p{
                font-size: 1.3em;
            }
        }
        #tools{
            margin-top: 13%;
            .icon{
                margin-bottom: 4%;
            }
            i{
                font-size: 10em;
            }
        }
        #contact-me{
            margin-top: 11%;
            h5 {
                margin-bottom: 7%;
            }
            .mail, .fas {
                font-size: 1.5em;
                margin: 2%;
            }
            i {
                font-size: 5em;
                color: #00796b;
                margin: 2%;
            }
            a{
                color: #00796b;
            }
           
        }
    }
    
}
